{% extends "base.html" %}

{% load static %}

{% block title %}
Inventory - Confirm Delete
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Inventory Management /</span> Confirm Delete</h4>
        <div class="row gy-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p>Are you sure you want to delete the type "{{ type.name }}"?</p>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Confirm</button>
                            <a href="{% url 'inventory:type_list' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Content -->
    </div>
</div>
{% endblock %}
