{% load static %}

<!DOCTYPE html>

<html lang="en" class="light-style layout-wide customizer-hide" dir="ltr" data-theme="theme-default"
    data-assets-path="../assets/" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/png"
        href="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/img/logo/favicon.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
        rel="stylesheet" />

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/vendor/fonts/materialdesignicons.css" />

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/vendor/css/core.css"
        class="template-customizer-core-css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/vendor/css/theme-default.css"
        class="template-customizer-theme-css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/vendor/css/pages/page-auth.css" />

    <!-- Helpers -->
    <script src="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/js/config.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="position-relative">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                <!-- Login -->
                <div class="card p-2">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center mt-5">
                        <a href="{% url 'index' %}" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <span style="color: #9055fd">
                                    <img src="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/img/logo/stockhub.png"
                                        style="width: 30px;" alt="Stockhub Logo" />

                                </span>
                            </span>
                            <span class="app-brand-text demo text-heading fw-semibold">StockHub</span>
                        </a>
                    </div>
                    <!-- /Logo -->

                    <div class="card-body mt-2">
                        <h4 class="mb-2">Welcome to StockHub! 👋</h4>
                        <p class="mb-4">Please sign-in to your account and start the adventure</p>

                        {% block content %}
                        <!-- Your content goes here -->
                        {% endblock %}

                        <p class="text-center">
                            <span>New to StockHub?</span>
                            <a href="#">
                                <span>Create an account</span>
                            </a>
                        </p>

                    </div>
                </div>
                <!-- /Login -->
                <img src="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/img/illustrations/tree-3.png"
                    alt="auth-tree" class="authentication-image-object-left d-none d-lg-block" />
                <img src="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/img/illustrations/auth-basic-mask-light.png"
                    class="authentication-image d-none d-lg-block" alt="triangle-bg"
                    data-app-light-img="illustrations/auth-basic-mask-light.png"
                    data-app-dark-img="illustrations/auth-basic-mask-dark.png" />
                <img src="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/img/illustrations/tree.png"
                    alt="auth-tree" class="authentication-image-object-right d-none d-lg-block" />
            </div>
        </div>
    </div>


    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/vendor/libs/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/vendor/libs/popper/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/vendor/js/bootstrap.js"></script>
    <script
        src="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/vendor/libs/node-waves/node-waves.js"></script>
    <script
        src="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="https://cdn.jsdelivr.net/gh/LahcenEzzara/stockhub-cdn@main/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>